SECRET_KEY=**SECRET_KEY**
DB_USER=**DB_USER**
DB_PASSWORD=**DB_PASSWORD**
DB_NAME=**DB_NAME**
CSRF_TRUSTED_ORIGINS=https://127.0.0.1:20000, http://127.0.0.1:20000, https://localhost:20000, http://localhost:20000

FR_DB_NAME=**FR_DB_NAME**
FR_DB_USER=**FR_DB_USER**
FR_DB_PASSWORD=**FR_DB_PASSWORD**
FR_DB_HOST=**FR_DB_HOST**
FR_DB_PORT=**FR_DB_PORT**
