{% load i18n tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url "face-recognition" %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{% trans "Face recognition request" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFileMultiple"
                               class="form-label">{% trans "Choose one or several images" %}</label>
                        <input class="form-control" type="file" id="formFileMultiple" accept="image/*" name="images"
                               multiple required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-grid gap-2 mx-1 mt-1 mb-3">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">{% trans "Face recognition request" %}</button>
</div>

<form class="px-1 pt-1" method="get">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {% trans "Filter" %}
                </button>
            </h2>
            <div id="flush-collapseOne"
                 class="accordion-collapse {% if not start_date and not end_date %}collapse{% endif %}"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="form_start_date"
                               value="{% if start_date %}{{ start_date }}{% endif %}" name="start_date">
                        <label for="form_start_date" class="form-label">{% trans "Start date" %}</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="form_end_date"
                               value="{% if end_date %}{{ end_date }}{% endif %}"
                               name="end_date">
                        <label for="form_end_date" class="form-label">{% trans "End date" %}</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-outline-primary">{% trans "Filter" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>