{% extends "web/base.html" %}

{% load i18n static %}
{% block content %}
    <style>

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">SAQ</h1>

            <div class="form-floating">
                {{ form.username }}
                <label for="floatingInput">{% trans "Username" %}</label>
            </div>
            <div class="form-floating">
                {{ form.password }}
                <label for="floatingPassword">{% trans "Password" %}</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">{% trans "Log in" %}</button>
        </form>
    </main>
{% endblock %}